.btn-blue {
	background-color: #00ADB5;
	padding: 15px 25px;
	margin: 20px 0px;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
	position: relative;
	z-index: 1;
}