.banner {
	position: relative;
	background-image: url(../../images/background.jpeg);
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
  }
  
  .banner::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
  }
  
  .banner h2 {
	color: #ffffff;
	position: relative;
	z-index: 1;
  }

  .banner h1 {
	color: #ffffff;
	position: relative;
	z-index: 1;
  }